/* DataTable Başlık ve Hücre Stilleri */
.custom-datatable thead {
    background-color: #7a7d7f;
    color: white;
    font-size: 16px;
    text-align: left;
}

.custom-datatable th, .custom-datatable td {
    padding: 12px 15px; /* Artırılan padding ile daha ferah bir görünüm */
    border-bottom: 1px solid #EDF2FB; /* Her hücreyi ayıran ince çizgi */
}

.custom-datatable tr:nth-child(even) {
    background-color: #d6d8d9;
}

.custom-datatable .ui-paginator {
    padding: 10px;
    background-color: #F2E8F4; /* Çok açık mor-beyaz karışımı */
    border-radius: 10px;
    color: #5C415D; /* Mor'un koyu bir tonu */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.custom-datatable .ui-paginator .ui-paginator-page,
.custom-datatable .ui-paginator .ui-paginator-prev,
.custom-datatable .ui-paginator .ui-paginator-next {
    padding: 5px 10px;
    margin: 2px;
    background-color: #957DAD; /* Lavanta tonu */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.custom-datatable .ui-paginator .ui-paginator-page:hover,
.custom-datatable .ui-paginator .ui-paginator-prev:hover,
.custom-datatable .ui-paginator .ui-paginator-next:hover {
    background-color: #D8BFD8;
    color: white;
}

/* Butonlar */
.btn-delete,
.btn-edit,
.add-password-button {
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    width: 100px;
}

.btn-delete {
    background-color: #E74C3C; /* Kırmızı ton */
}

.btn-delete:hover {
    background-color: #C0392B; /* Daha koyu kırmızı */
}

.btn-edit {
    background-color: green;
}

.btn-edit:hover {
    background-color: green;
}


/* Add password buton stilleri */
.add-password-button-container {
    position: fixed;
    left: 25px;
    top: 100px; /* Navbar'ın hemen altı */
    z-index: 1000;
    text-align: center;
}
.add-password-form {
    width: 400px;
    padding: 20px;
    background-color: #F5F3F4; /* Çok açık gri bir ton */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-password-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-field {
    margin-bottom: 20px;
}

.form-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-field input,
.form-field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.save-button {
    padding: 10px;
    background-color: #957DAD; /* Lavanta tonu */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}
.auto-expand {
    overflow: hidden;
    min-height: 40px; /* Başlangıç yüksekliği */
    height: auto; /* Yükseklik otomatik olarak ayarlanacak */
}


.save-button:hover {
    background-color: #5c005c;
}
 .form-field-group {
            display: flex;
            justify-content: space-between;
        }

        .form-field-group .form-field {
            flex: 1;
            margin-right: 20px;
        }

        .form-field-group .form-field:last-child {
            margin-right: 0;
        }

        .form-field.notes {
            flex: 1;
            margin-right: 0;
        }

        .form-field.notes .ui-inputtextarea {
            height: auto;
            resize: none;
        }