/* Parola Konteyneri:
   Parola giriş alanının ve toggle ikonunun konumunu ayarlar.
*/
.form-field .password-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Parola Giriş Alanı:
   Parola giriş alanının stilini belirler.
*/
.password-input {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Parola Toggle İkonu:
   Parola görünürlüğünü değiştirme simgesine stil ekler.
*/
.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10; /* Bu z-index'i yüksek bir değer yaparak, tıklanabilirliğini artırabilirsiniz. */
    width: 30px; /* Bu, ikonun etrafına tıklanabilir alan ekler. */
    height: 30px; /* Bu, ikonun etrafına tıklanabilir alan ekler. */
}

/* Gizli Parola Alanı:
   Gizli parola alanına stil ekler.
*/
.password-hidden {
    font-size: 16px;
    letter-spacing: 2px;
}

/* Görünür Parola Alanı:
   Görünür parola alanına stil ekler.
*/
.password-visible {
    font-size: 16px;
    color: #333;
}




/*index stilinden aldığım css' ler'*/
/* Navbar:
   Sayfanın üst kısmında yer alan navigasyon çubuğunun stilini belirler.
*/
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #957DAD; /* Lavanta tonu */
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Navbar'ın her zaman üstte olması için */
    height: 50px;
}

/* Navbar Butonu:
   Navbar üzerindeki butonların stilini belirler.
*/
.navbar-button {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
}

/* Navbar Butonu Hover:
   Navbar butonlarına hover (üzerine gelme) etkisi ekler.
*/
.navbar-button:hover {
    background-color: #ddd;
}

/* İçerik:
   Navbar'ın altındaki içerik bölümünün stilini belirler.
*/
.content {
    margin-top: 60px; /* Navbar yüksekliğine göre ayarlanmalı */
    padding: 20px;
}

/* Logout Butonu:
   Çıkış butonunun stilini belirler.
*/
.logout {
    background-color: #F2E8F4; /* Çok açık mor-beyaz karışımı */
    border: none;
    color: #5C415D; /* Mor'un koyu bir tonu */
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px; /* Kenarları yuvarlat */
    cursor: pointer; /* İmleç pointer olsun */
    display: inline-block; /* Bağlantı gibi görünsün */
    margin-left: 20px;
    margin-right: 20px;
    transition: background-color 0.3s, color 0.3s; /* Renk geçiş animasyonu */
}

/* Logout Butonu Hover:
   Çıkış butonuna hover (üzerine gelme) etkisi ekler.
*/
.logout:hover {
    background-color: #ddd; /* Navbar üzerine gelindiğinde arka plan rengi */
    color: black;
}

/* Logout Butonu Metni:
   Çıkış butonunun metin stilini belirler.
*/
.logout .ui-button-text {
    display: block;
    text-align: center;
}

/* .btn-delete:
   "Delete" butonunun stilini ayarlar.
*/
.btn-delete {
    background-color: #E74C3C; /* Kırmızı ton */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    width: 80px;
    height: 25px;
}

/* .btn-delete:hover:
   "Delete" butonuna hover (üzerine gelme) etkisi ekler.
*/
.btn-delete:hover {
    background-color: #C0392B; /* Daha koyu kırmızı */
}

/* .btn-edit:
   "Edit" butonunun stilini ayarlar.
*/
.btn-edit {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    width: 80px;
    height: 25px;
}

/* .btn-edit:hover:
   "Edit" butonuna hover (üzerine gelme) etkisi ekler.
*/
.btn-edit:hover {
    background-color: darkgreen;
}
.btn-log {
    width: 60px;
    height: 25px;
}

.custom-datatable .notes-cell {
    white-space: normal; /* Metnin kendi doğal akışına izin verir, böylece otomatik olarak alt satıra geçer */
    word-wrap: break-word; /* Uzun kelimelerin satır sonunda kırılmasını sağlar */
}
