/* DataTable Başlık ve Hücre Stilleri */
.custom-datatable thead {
    background-color: #7a7d7f;
    color: white;
    font-size: 16px;
    text-align: left;
}

.custom-datatable th, .custom-datatable td {
    padding: 12px 15px; /* Artırılan padding ile daha ferah bir görünüm */
    border-bottom: 1px solid #EDF2FB; /* Her hücreyi ayıran ince çizgi */
}



/* Geri Butonu Stili:
   Geri butonunun stilini belirler.
*/
.back-button {
    font-size: 20px;
}

/* isAdmin stilleri */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;  /* Boşlukları ayarla */
}

.ui-chkbox {
    margin-right: 8px;  /* Checkbox ve label arasındaki boşluğu ayarla */
}

.ui-outputlabel {
    font-size: 14px;  /* Diğer label'lar ile aynı boyutta olacak */
    color: #333;  /* Renk tonunu diğer form elementleri ile uyumlu hale getir */
}

/* Input stilini güncelle */
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;  /* Genişliği ayarla */
    padding: 8px;  /* İç dolgu miktarını ayarla */
    margin: 4px 0;  /* Üst ve alt marjını ayarla */
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.btn-log {
    width: 60px;
    height: 25px;
}

/* button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

*/
